:root {
  --primary-purple: #4E2FD2;  
  --primary-purple-hover: #4E2FD2B2;
  --bg-light-blue: #f8faff;
  --text-dark: #0B0D10;
  --text-muted: #484848;
  --border-color: #e2e8f0;
  --red-price: #ef4444;
  --green-success: #10b981;
  --background: #EDF4FF;
  --border-color: #1F1F1F;
}


body {
  font-family: 'Gilroy-SemiBold', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;  color: var(--text-dark);
  background-color: #ffffff;
  /* margin: 0; */
  padding-left: 7.625rem;
  padding-right: 7.625rem;
  padding-top: 3.085rem;
  padding-bottom: 3.085rem;
}

